@model IEnumerable<DataAccess.Order>

@{
    ViewData["Title"] = "Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order List</h1>

@{
    if ("Admin".Equals(TempData["Role"] as string))
    {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    }
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">Error: @TempData["Error"]</div>
}
<div class="text-center">
    @using (Html.BeginForm("FilterDate", "Order")) 
    {
        <input type="date" name="startDate" /> <span>-</span>
        <input type = "date" name = "endDate" />
        <input type = "submit" value = "Filter" class="ml-2"/>
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            @if("Admin".Equals(TempData["Role"] as string))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

@{
    if ("User".Equals(TempData["Role"] as string))
    {
    <p>
                    <a asp-action="Details" asp-controller="Member" asp-route-id="@(ViewContext.RouteData.Values["id"])">Back</a>
    </p>
    }
}
